<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="navigation">
    <div id="menus" class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    	<span>
                            <img alt="image" class="img-circle" th:src="@{/img/profile_small.jpg}" />
						</span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                            	<span class="block m-t-xs">
                            		<strong class="font-bold"  th:text="${session.user.username}"></strong>
                             	</span>
                             </span>
                    </a>
                </div>
                <div class="logo-element">
                    ADMIN
                </div>
            </li>
            <li  th:each="menu:${session.menus}" th:with="isOpen=${session.currMenu}?${session.currMenu.parent == menu.id || session.currMenu.id == menu.id }:false" th:class="${isOpen}?active:''">
                <a th:if="!${#strings.isEmpty(menu.url)}" th:id="|menu${menu.id}|"  th:href="|${menu.url}?menuId=${menu.id}|" ><i th:class="|fa ${menu.image}|"></i> <span class="nav-label" th:text="${menu.name}"></span></a>
                <a th:if="${#strings.isEmpty(menu.url)}" th:id="|menu${menu.id}|"  ><i th:class="|fa ${menu.image}|"></i> <span class="nav-label" th:text="${menu.name}"></span><span class="fa arrow"></span></a>
                <ul th:class="|nav nav-second-level collapse ${isOpen}?in:''|" th:if="${menu.subMenus ne null}" th:each="subMenu:${menu.subMenus}">
                    <li th:with="isActive=${session.currMenu}?${session.currMenu.id == subMenu.id}:false" th:class="${isActive}?active:''"><a th:id="|menu${subMenu.id}|" th:data-parent="${subMenu.parent}" th:href="|${subMenu.url}?menuId=${subMenu.id}|" th:text="${subMenu.name}"></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#side-menu').metisMenu();
        })
    </script>
</nav>

</body>
</html>



