<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> 
                    	<span>
                            <img alt="image" class="img-circle" th:src="@{/img/profile_small.jpg}" />
						</span>
                    	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                            	<span class="block m-t-xs">
                            		<strong class="font-bold"  th:text="${user.username}"></strong>
                             	</span> 
                             </span>
                     	</a>
                    </div>
                    <div class="logo-element">
                        ADMIN
                    </div>
                </li>
                <li  th:each="menu:${menus}" th:id="|menu${menu.id}|">
                    <a  th:if="${menu.url ne null}"  th:data-id="${menu.id}" th:data-url="${menu.url}" th:onclick="clickMenu(this.getAttribute('data-id'),this.getAttribute('data-url'))"><i th:class="|fa ${menu.image}|"></i> <span class="nav-label" th:text="${menu.name}"></span></a>
                    <a th:if="${menu.url eq null}" ><i th:class="|fa ${menu.image}|"></i> <span class="nav-label" th:text="${menu.name}"></span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" th:if="${menu.subMenus ne null}" th:each="subMenu:${menu.subMenus}">
                        <li th:id="|menu${subMenu.id}|"><a th:data-id="${subMenu.id}" th:data-url="${subMenu.url}" th:onclick="clickMenu(this.getAttribute('data-id'),this.getAttribute('data-url'))" th:text="${subMenu.name}"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <script type="text/javascript">
            var lastMenuId;
            function clickMenu(id,url){
                $("#menu"+id).addClass("active");
                $("#menu"+lastMenuId).removeClass("active");
                $.ajax({
                    type :"GET",
                    url : url,
                    dataType:"html",
                    success : function(data) {//返回数据根据结果进行相应的处理
                        $("#main").html(data);
                        lastMenuId = id;
                    },
                    error:function(){
                        $("#middle").html("获取数据失败！");
                    }
                });
            }
        </script>
    </nav>

</body>
</html>



